<!--
<%# if !user_signed_in? %>
  <div class="alert alert-success">
  	<%# link_to "Login", new_user_session_path %> or
  	<%# link_to "Sign up", new_user_registration_path %>!
  </div>
<%# end %>
-->

<% if current_user && !current_user.admin? && !current_user_account %>
  <div class="alert alert-notice">
	<%= link_to "Complete account set up", new_account_path %> to begin ordering face shields!
  </div>
<% end %>
<div id="home-hero">

  <div class="home-signup-wrapper">
    <p class="home-signup-p">With the supply chain compromised,</p>
    <p class="home-signup-p">we are providing the front line with free PPE.</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "devise-form", id: "home-signup-form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <%= link_to omniauth_authorize_path(resource_name, :google_oauth2), class: "btn google", id: "google-btn" do %>
      <span class="google"><%= render 'shared/google_logo' %> Continue With Google</span>
    <% end %>
    <p class="home-signup-p" id="or">or</p>
    <p class="home-signup-p">3D Print your own visors and ear savers.</p>
    <div class="print-links flex-column">
      <a href="https://drive.google.com/drive/u/0/folders/1UCLFYgbQiWUnyqVzcoiSLw6p3AYBssBd?fbclid=IwAR2iZaF-rFFMh1eW1Gh59qQdGJbPIivO_Wc3-XHEX4Aa5qzhYVqfCVVBikY" id="three-link" >STL Model 2.1</a>
      <a href="https://a360.co/3eyk9Zw" id="three-link">Fusion 360</a>
  </div>
  </div>
  <h1 id="hero-header" class="">Protect Yourself.</h1>
  <div class="info-home">
    <p>With the supply chain</p>
    <p>compromised, we are</p>
    <p>providing the front line</p>
    <p>with free PPE.</p>
  </div>
  <div class="mobile-buttons">
    <button class="btn">Start Ordering</button>
    <button class="btn">Access 3D Print Files</button>
  </div>
</div>
<div class="delivered">
  <h1><span class="red">42,500+</span> Face Shields delivered.</h1>
</div>
<div class="assembly-video">
  <h2>Easy assembly.</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/blvAaNILftw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h2><%= link_to "More assembly videos >>", "#", class: "red" %></a></h2>
</div>
<%= image_pack_tag "media/images/diagram-desktop.jpg", id: "diagram-desktop" %>
<%= image_pack_tag "media/images/diagram-mobile.jpg", id: "diagram-mobile" %>
<div class="news-home">
  <h2>Operation Face Shield in the News</h2>
  <div class="articles-container">
  <% @articles.each do |article| %>
    <div class="article-home">
      <%= link_to article.url, class: "article-link" do %>
        <%= image_tag article.img_src, class: "card-img" %>
        <h2 class="article-header-home"><%= article.title %></h2>
      <% end %>
    </div>
  <% end %>
  </div>
  <h2><%= link_to "More news features >>", articles_path, class: "red" %></a></h2>
</div>
<!--
    <div class="links-wrapper mobile-links">
      <h2 class="print-header">3D Print Files</h2>
      <div class="print-links">
        <a href="https://drive.google.com/drive/u/0/folders/1UCLFYgbQiWUnyqVzcoiSLw6p3AYBssBd?fbclid=IwAR2iZaF-rFFMh1eW1Gh59qQdGJbPIivO_Wc3-XHEX4Aa5qzhYVqfCVVBikY">STL Model 2.1</a>
        <a href="https://a360.co/3eyk9Zw">Fusion 360</a>
      </div>
      <h2 class="print-header">Donate</h2>
      <div class="print-links">
        <a href="#">Paypal</a>
      </div>
    </div>
-->