<% @account = order.account %>
<div class="card admin-order">
  <div class="admin-order-header-wrapper" style="background-color: <%= order.processed? ? "#18a83e" : "rgb(131,208,245)" %>;">
  	  <h2 class="admin-order-header">Order #<%= order.id %></h2>
  </div>
  <div class="admin-order-info hide">
	<li class="list-group-item order-info-group">
		<div class="order info order-info">
			<span><b>Email:</b> <%= @account.user.email %></span>
		</div>
		<div class="order info order-info">
			<span><b>Face Shields:</b> <%= order.num_shields %></span>
			<span><b>Mask Adjusters:</b> <%= order.num_adjusters %></span>
		</div>
		<div class="account info order-info">
			<span><b>Recipient:</b> <%= @account.institution_name %></span>
			<span><b>Contact Name:</b> <%= @account.contact_first_name %> <%= @account.contact_last_name %></span>
			<span><b>Phone Number:</b> <%= @account.phone_number %></span>
		</div>
		<div class="address info order-info">
			<span><b>Street Address:</b> <%= order.street_address %></span>
			<span><b>City:</b> <%= order.city %></span>
			<span><b>State:</b> <%= order.state %></span>
			<span><b>Zip Code:</b> <%= order.zipcode %></span>
		</div>
		<div class="buttons">
		  <% if action_name == "unprocessed" || action_name == "processed" %>
		    <%= link_to admin_orders_path do %>
			  <span class="material-icons">
				library_books
			  </span>
			  <p>all</p>
			<% end %>
		  <% end %>
		  <%= link_to admin_order_path(order) do %>
			  <span class="material-icons">
				visibility
			  </span>
			  <p>view</p>
			<% end %>
		  <% if !order.processed? %>
			<%= link_to admin_order_path(order, process: true), method: :patch do %>
			  <span class="material-icons">
				check_circle
			  </span>
			  <p>process</p>
			<% end %>
		  <% else %>
		    <%= link_to admin_order_path(order, process: false), method: :patch do %>
			  <span class="material-icons">
				backspace
			  </span>
			  <p>unprocess</p>
			<% end %>
			<%= link_to admin_order_path(order), method: :delete do %>
			  <span class="material-icons">
				delete
			  </span>
			  <p>delete</p>
			<% end %>
		  <% end %>
		</div>
	</li>
  </div>
</div>