  <li class="nav-item">
    <%= link_to 'Home', root_path, class: "nav-link" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Place Order", new_order_path, class: "nav-link active" %>
    </li>
     <% if current_user_account %>
       <% if current_user_account.orders.any? %>
         <%= link_to "My Orders", orders_path, class: "nav-link active" %>
       <% end %>
       <li class="nav-item">
         <%= link_to "My Account", account_path(current_user_account), class: "nav-link" %>
       </li>
     <% else %>
       <li class="nav-item">
         <%= link_to "Complete Account Set Up", new_account_path, class: "nav-link" %>
       </li>
       <li class="nav-item">
         <%= link_to user_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: "nav-link" do %>
           Cancel My Account
         <% end %>
       </li>
     <% end %>
     <li class="nav-item">
       <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
     </li>
  <% else %>
    <li class="nav-item">
     <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
    </li>
    <%= link_to user_google_oauth2_omniauth_authorize_path, class: "nav-link" do %>
      <span class="google"><%= render 'shared/google_logo' %> Sign in with Google</span>
    <% end %>
    </li>
    <li class="nav-item">
     <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
    </li>
  <% end %>