
<%= form_with( model: @address, local: true ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
      <%= f.label :street_address, "Street Address" %>
      <%= f.text_field :street_address, class: "form-control" %>
   </div>
   <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
   </div>
   <div class="form-group">
      <%= f.label :state %>
      <%= f.select :state, options_for_select(us_states, yield(:preselect_state)), {}, class: "form-control" %>
   </div>
   <div class="form-group">
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode, class: "form-control" %>
   </div>
   <div class="form-group d-flex justify-content-center">
     <%= f.submit yield(:submit) %>
   </div>
<% end %>