<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="<%= root_path %>"><%= image_pack_tag 'media/images/banner3.png' %></a>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal-donate">
    <input type="hidden" name="cmd" value="_donations" />
    <input type="hidden" name="business" value="JuanA@theyardillinois.com" />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="submit" id="paypal-submit" value="donate">
  </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="material-icons">
      toc
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
          <%= link_to 'In The News', articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to 'Testimonials', posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to 'Files/Assembly', files_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to 'About Us', about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to 'Contact', contact_path, class: "nav-link" %>
      </li>

      <% if user_signed_in? && !current_user.admin?%>
         <% if current_user_account %>
           <% if current_user_account.orders.any? %>
           <% end %>
         <% else %>
           <li class="nav-item">
             <%= link_to "Complete Account Set Up", new_account_path, class: "nav-link dark-blue" %>
           </li>
           <li class="nav-item">
             <%= link_to user_registration_path, data: { confirm: "Are you sure you want to cancel your account?" }, method: :delete, class: "nav-link red" do %>
               Cancel My Account
             <% end %>
           </li>
         <% end %>
         <li class="nav-item">
           <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link red" %>
         </li>
      <% elsif user_signed_in? && current_user.admin? %>
        <li class="nav-item">
           <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link red" %>
         </li>
      <% else %>
        <li class="nav-item">
         <%= link_to 'Log in', new_user_session_path, class: "nav-link red" %>
        </li>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="sub-nav">
  <% if user_signed_in? && !current_user.admin?%>
    <li class="nav-item reg-link">
      <%= link_to "Place Order", new_order_path, class: "nav-link dark-blue" %>
    </li>
    <li class="nav-item reg-link">
      <%= link_to "Write Post", new_post_path, class: "nav-link" %>
    </li>
    <% if current_user_account %>
      <% if current_user_account.orders.any? %>
        <li class="nav-item reg-link">
          <%= link_to "View Orders", orders_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item reg-link">
        <%= link_to "Account", account_path(current_user_account), class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item reg-link">
        <%= link_to "Complete Account Set Up", new_account_path, class: "nav-link" %>
      </li>
      <li class="nav-item reg-link">
        <%= link_to user_registration_path, data: { confirm: "Are you sure you want to cancel your account?" }, method: :delete, class: "nav-link" do %>
               Cancel My Account
        <% end %>
      
    <% end %>
  <% elsif user_signed_in? && current_user.admin? %>
    <li class="nav-item admin-link reg-link">
          <%= link_to "All Orders", admin_orders_path, class: "nav-link" %>
    </li>
    <li class="nav-item reg-link">
        <%= link_to "Write Post", new_post_path, class: "nav-link" %>
    </li>
    <li class="nav-item reg-link">
        <%= link_to "Share Article", new_article_path, class: "nav-link" %>
    </li>
    <li class="nav-item reg-link">
        <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link" %>
    </li>
  <% end %>

</div>