<div class="main-wrapper">

<h1 class="page-title">Edit Account Info</h1>

<%= form_with(model: @account, local: true, class: "account-edit-form") do |f| %>
  <span style="display: none" id="institution_type"><%= @account.institution_type %></span>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="institution">
  	  <h2>Institution</h2>
	  <div class="form-group">
	    <%= f.label :institution_name, "Institution Name" %>
	    <%= f.text_field :institution_name, class: "form-control" %>
	  </div>
	  <div class="form-group">
	    <%= f.label :institution_type, "Institution Type" %>
	    <%= f.select :institution_type, options_for_select(institution_types, @account.institution_type), {}, class: "form-control" %>
	  </div>
	  <div id="other-div" style="display: none">
	  	<%= f.label :other_type, "Please specify:" %>
	  	<%= f.text_field :other_type %>
	  </div>
  </div>
	  <div class="contact">
	  	<h2>Primary Contact</h2>
	  	<div class="form-group">
	    <%= f.label :contact_first_name, "First Name" %>
	    <%= f.text_field :contact_first_name, class: "form-control" %>
	  </div>
	    <%= f.label :contact_last_name, "Last Name" %>
	    <%= f.text_field :contact_last_name, class: "form-control" %>
	  <div class="form-group">
	    <%= f.label :phone_number, "Phone Number" %>
	    <%= f.telephone_field :phone_number, class: "form-control" %>
	  </div>
  </div>
  <div class="form-group d-flex justify-content-center">
    <%= f.submit "Update Account", class: "btn btn-secondary" %>
  </div>
<% end %>
</div>